#contextMenu {
    position: fixed;
    border: 1px solid #dedede;
    background: white;
    list-style: none;
    border-radius: 0 6px 6px;
    padding: 0 2px;
}
.menu-item {
    font-size: 14px;
    line-height: 24px;
    width: 13em;
    font-family: sans-serif;
    padding: 4px 10px;
    border-bottom: 1px solid #eee;
}
.disabled {
    pointer-events: none;
    opacity: 0.6;
}
.menu-item:hover {
    background: #dddddd;
    text-decoration: underline;
    cursor: pointer;
}
